* {
	
  border: none;
  border-radius: 0;

  transition-duration: 0s;

  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 12px;

  background: black;

}

#workspaces button, #custom-uptime {
    color: white;              
    font-weight: bold;
}

#clock, #pulseaudio, #bluetooth, #network, #memory, #cpu {
  padding: 0px 10px;
  color: white;
}
