* {
	
  border: none;
  border-radius: 0;

  transition-duration: 0s;

  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 15px;

  background: black;
  color: white;

}

#clock, #pulseaudio, #bluetooth, #network, #memory, #cpu {
  padding: 0px 10px;
}
