* {

  background-color: #000000;
  color: #ffffff;

  font-family: JetBrainsMono Nerd Font;
  font-size: 15px;

  border: none;
  border-radius: 0;

}

.modules-left {
  margin-left: 10px;
}

.modules-right {
  margin-right: 10px;
}

#cpu,
#network,
#bluetooth,
#pulseaudio,
#clock 

{
  padding: 0 6px;
  margin: 0 6px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 6px;
}
